
  <div class="row">
    <div class="span5 offset1">
      Nazwa
      <%= firm.name %>  
    </div>
  <div class="span5">
      Adres
      <%= firm.current_address %>  
    <!-- < f.text_field :current_address %> -->
    </div>
  </div>

  <div class="row">
    <div class="span5 offset1">
      WWW
    <%= firm.www %>  
    </div>
  <div class="span5">
      Email
    <%= firm.email %>
    </div>
  </div>

User <%= firm.user %>