<%= form_for(@firm) do |f| %>

  <% if @firm.errors.any? %>
        <div class="alert alert-error">
          Znaleziono błędów: <%= @firm.errors.count %>
      <ul>
      <% @firm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span5 offset1">
      Nazwa
      <%= f.text_field :name %>
    </div>
  <div class="span5">
      Adres
    <!-- < f.text_field :current_address %> -->
       <%= collection_select(:firm, :current_address_id, @locations, :id, :address, {:include_blank => 'utworz nowy adres firmy' }) %>
    </div>
  </div>

  <div class="row">
    <div class="span5 offset1">
      WWW
      <%= f.text_field :www %>
    </div>
  <div class="span5">
      Email
    <%= f.text_field :email %>
    </div>
  </div>

<div class="row">
  <span class="pull-right">
    <%= link_to 'Powrót', firms_path, class:"btn btn-info" %>
    <%= f.submit "Zapisz", class:"btn btn-info" %>
  </span>
  <br />
</div>

<% end %>

