<% provide(:title, 'Ustawienia kontrahentów:' + @current_user.name) %>
<br />

  <div class="row-fluid">
      <div class="span6 offset3">

      <h1>Ustawienia kontrahentów</h1>
      <hr />

        <div class="well sidebar-nav">
          <div class="field center">

              <%= render 'form' %> 
          </div>
        </div>
      </div>
    </div>

<!-- <div class="container-fluid"> -->
  <div class="row-fluid">
    <div class="span6 offset3">

<% if @firms.any? %>
      <table class="table table-striped">

        <thead>
          <tr>
            <th>Nazwa</th>
            <th>Adres</th>
            <th>WWW</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>

        <tbody>

<% if !@firms.nil? %>
<% @firms.each do |firm| %>
  <tr>
    <td><%= firm.name %></td>
    <td>
      <% if !firm.current_address.nil? %>
        <%= firm.current_address.address %>  
      <% end %>
    </td>
    <td><%= firm.www %></td>
    <td><%= firm.email %></td>
    <td>
              <span class="pull-right">
                <%= link_to 'Edytuj', edit_firm_path(firm) %> | 
                <%= link_to 'Usuń', firm, confirm: 'Czy napewno usunąć firmę?', method: :delete %>
              </span>
    </td>
  </tr>
<% end %>
<% end %>

          </tbody>

        </table>
                <% else %>
                <div class="center">
                  <br />
                  Brak firm.
                  <br />
                </div>
              <% end %>

<!-- </div> -->
</div>
</div>
