
    <br />

  <div class="row-fluid">
      <div class="span6 offset3">

        <legend>Firmy</legend>
        <div class="well sidebar-nav">
          <div class="field center">

              <%= render 'form' %> 
          </div>
        </div>
      </div>
    </div>

<!-- <div class="container-fluid"> -->
  <div class="row-fluid">
    <div class="span6 offset3">

      <table class="table table-striped">

        <thead>
          <tr>
            <th>Nazwa</th>
            <th>Adres</th>
            <th>WWW</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>

        <tbody>

<% if !@firms.nil? %>
<% @firms.each do |firm| %>
  <tr>
    <td><%= firm.name %></td>
    <td><%= firm.current_address %></td>
    <td><%= firm.www %></td>
    <td><%= firm.email %></td>
    <td>
              <span class="pull-right">
                <%= link_to 'Edytuj', edit_firm_path(firm) %> | 
                <%= link_to 'Usuń', firm, confirm: 'Czy napewno usunąć?', method: :delete %>
              </span>
    </td>
  </tr>
<% end %>
<% end %>

          </tbody>

        </table>

<!-- </div> -->
</div>
</div>
