<% provide(:title, 'Logowanie') %>


    <br />
      
  <div class="row-fluid">
      <div class="span6 offset3">

      <legend>Logowanie</legend>
        <div class="well sidebar-nav">
          <div class="field">

          	  <div class="row-fluid">
      <div class="span5 offset4">

<br />

			<!-- mozna tez zrobic przy pomocy form_tag -->
			<%= form_for(:session, url: sessions_path) do |f| %>
			<%= f.label "Email" %>
			<%= f.text_field :email %>
			<%= f.label "Haslo" %>
			<%= f.password_field :password %><br /><br />
			<%= f.submit "Logowanie", class: "btn btn-large btn-primary" %>
			<% end %>

			<p>Nowy użytkownik? <%= link_to "Zarejestruj konto!", rejestracja_path %></p>

            

          </div>
        </div>
      </div>
    </div>

