<% provide(:title, 'Logowanie w serwisie eMagazynier') %>
<br />


      
  <div class="row-fluid">
      <div class="span6 offset3">

      <h1>Logowanie w serwisie eMagazynier</h1>
      <hr />
        <div class="well sidebar-nav">
          <div class="field">

          	  <div class="row-fluid">
      <div class="span5 offset4">

<br />

			<!-- mozna tez zrobic przy pomocy form_tag -->
			<%= form_for(:session, url: sessions_path) do |f| %>
			<%= f.label "Email" %>
			<%= f.text_field :email %>
			<%= f.label "Hasło" %>
			<%= f.password_field :password %><br /><br />
			<%= f.submit "Logowanie", class:"btn btn-info" %>
			<% end %>

			<p>Nie masz konta? <%= link_to "Zarejestruj się!", rejestracja_path %></p>

            

          </div>
        </div>
      </div>
    </div>

