<% provide(:title, @user.name) %>

<hr>
<aside>
	<section>
		<h1>
			<%= gravatar_for @user %>
			<h1>Witaj w sklepie firmy <%= @user.name %></h1>
			
			<% if @user.products.any? %>
				<h4>posiadamy artykułów <%= @user.products.count %>, zapraszamy do zakupów</h4>
			<% else %>
				<h4>nie posiadamy jeszcze artykułów, zapraszamy wkrótce</h4>
			<% end %>
			
		</h1>
	</section>
</aside>
<hr>

<div class="container-fluid">
	<div class="row-fluid">


		<div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Kategorie</li>
              <!--               
              <li class="active"><a href="#">Wszystkie</a></li>
              <li><a href="#">Blat</a></li>
              <li><a href="#">Zawias</a></li>
              <li><a href="#">Front</a></li> 
          	  -->
              <% @categories.each do |category| %>
              	<li><a href="#"><%= category.name %></a></li>
              <% end %>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->


        <div class="span10">
        	<!-- <div class="hero-unit"> -->
	        <div class="well sidebar-nav">

	          	<% if @user.products.any? %>
	          	<!-- <legend>Lista artykułów</legend> -->
	          	<table class="table table-striped" class="table table-condensed">
	          		<thead>
	          			<tr>
	          				<th class="span1">Pozycja</th>
	          				<th class="span2">Nazwa artykułu</th>
	          				<th class="span2">Opis</th>
	          				<th class="span1">Aktualizacja</th>
	          				<th class="span1">Ilość</th>
	          				<th class="span1">Cena</th>
	          				<th class="span2"></th>
	          			</tr>
	          		</thead>

	          		<tbody>
	          			<% if params[:page].nil? %>
	          				<% @licznik = 0 %>
	          			<% else %>
	          				<% @licznik = (params[:page].to_i * 30) - 30 %>
	          			<% end %>


<% @products.each do |product| %>
	          			  <tr>
  	 <td><%= @licznik=@licznik+1 %> </td>

    
     <!-- <span class="content"> -->
    <td><%= link_to product.name, product %> </td>
 	   <td><%= product.description %></td>
     <!-- </span> -->

     <td><span class="timestamp"><%= time_ago_in_words(product.updated_at) %></span></td>
 	   <td><%= product.quantity %></td>
 	   <td>
          <%= product.defaultIncrease %>
     </td>
    <td>
     




<!-- Button to trigger modal -->
<a href="http://0.0.0.0:3000/sklepy/produkt/<%= product.id %>" data-target="#myModal" data-toggle="modal">Kup teraz!</a>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Zamawianie towaru</h3>
  </div>
  <div class="modal-body">
    <!-- <p>One fine body…</p> -->
  </div>
<!--   <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div> -->
</div>

    </td>
  </tr>

<% end %>

	          			<div class="pull-right">
	          				<%= will_paginate @products %>
	          			</div>
	          		</tbody>
	          	</table>
	          	<% else %>
	          		<div class="center">
	          			<br /><br />
	          			Brak artykułów.
	          			<br /><br />
	          		</div>
	          	<% end %>

	        </div>
	     </div>

  </div>
</div>
