<%= simple_form_for(@product_price) do |f| %>

  <%= f.error_notification %>

  <% if @product.errors.any? %>
    <div class="alert alert-error">
    Znaleziono błędów: <%= @product.errors.count %>
      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<br />
<div class="row-fluid">
    <div class="span2 offset1">Vat</div>
  <div class="span2">
    <!-- < f.text_field :summaryQuantityPurchase, :onchange => "update()" %> -->
    <%= text_field_tag :defaultVat, @product.defaultVat, :onchange => "change_bruttoPurchasePrice();change_bruttoSalesPrice();count_discount();change_bruttoSalesPrice()", :value => number_with_precision(@product.defaultVat, :precision => 2) %>
  </div>
    <div class="span2 offset1">Marża</div>
    <div class="span3">
    <%= text_field_tag :discount, @product.discount, :onchange => "change_bruttoPurchasePrice();change_bruttoSalesPrice();count_discount();change_bruttoSalesPrice()", :value => number_with_precision(@product.discount, :precision => 0) %>
    </div>
</div>

<br />
<div class="row-fluid">
  <div class="span5 offset1">
    <strong>Cena zakupu za jednostkę magazynową</strong><br />
  </div>
  <div class="span6">
    <strong>Cena sprzedaży za jednostkę magazynową</strong><br />
  </div>
</div>
<div class="row-fluid">
    <div class="span2 offset1">Cena zakupu netto</div>
  <div class="span2">
    <%= f.input :nettoPurchasePrice, :label => false, :input_html => {:onchange => "change_bruttoPurchasePrice();count_discount();change_bruttoSalesPrice()", :value => number_with_precision(@product_price.nettoPurchasePrice, :precision => 2) }, readonly: @product.actualPriceOnPurchase %>


  </div>
    <div class="span2 offset1">Cena sprzedaży netto</div>
    <div class="span3">
    <%= f.input :nettoSalesPrice, :label => false, :input_html => {:onchange => "change_bruttoSalesPrice();change_discount()", :value => number_with_precision(@product_price.nettoSalesPrice, :precision => 2) }, readonly: @product_price.calculateByPurchase %>
    </div>
</div>
<div class="row-fluid">
    <div class="span2 offset1">Cena zakupu brutto</div>
  <!-- < f.text_field :summaryQuantitySales, :onchange => "update()" %></div> -->
  <div class="span2">
    <%= f.input :bruttoPurchasePrice, :label => false, :input_html => {:onchange => "change_nettoPurchasePrice();count_discount();change_bruttoSalesPrice()", :value => number_with_precision(@product_price.bruttoPurchasePrice, :precision => 2) }, readonly: @product.actualPriceOnPurchase %>

    <!-- changediscount -->

  </div>
    <div class="span2 offset1">Cena sprzedaży brutto</div>
    <div class="span3">
    <%= f.input :bruttoSalesPrice, :label => false, :input_html => {:onchange => "change_nettoSalesPrice();change_discount()", :value => number_with_precision(@product_price.bruttoSalesPrice, :precision => 2) }, readonly: @product_price.calculateByPurchase %>
  </div>
 </div>

<div class="row-fluid">
    <div class="span2 offset1">Aktualizuj cenę zakupu przy dostawach</div>
  <div class="span3">
       <%= check_box_tag :actualPriceOnPurchase, @product.actualPriceOnPurchase, @product.actualPriceOnPurchase, :onchange => "checkAutoUpdate(this)" %>
  </div>
    <div class="span2">Aktualizuj cenę sprzedaży na podstawie dostaw/rozchodu</div>
    <div class="span2 offset1">
      <%= f.input :calculateByPurchase, :label => false, :input_html => {:onchange => "checkAutoUpdate(this)" } %>

    </div>
 </div>

  <span class="pull-right">
     <!-- < link_to 'Powrót', current_user, class:"btn btn-info" %> -->
     <%= link_to 'Powrót', products_path, class:"btn" %>
    <%= f.submit "Zapisz", class:"btn btn-info" %>
  </span>

<% end %>





