<% provide(:title, 'Edycja profilu użytkownika ' + @user.name) %>
<br />
      
  <div class="row-fluid">
      <div class="span6 offset3">


      <h1>Edycja profilu użytkownika <%= @user.name %></h1>
      <hr />
      <!-- dodajemy renderowanie bledow z partial -->
	  <%= render 'shared/error_messages' %>


        <div class="well sidebar-nav">
          <div class="field ">



  <div class="row">
    <div class="span5 offset4">

<!-- </div></div> -->


<!-- <div class="hero-unit"> -->
	<!-- <div class="row-fluid"> -->
		<!-- <div class="span6 offset3"> -->


				<br />

				<%= form_for(@user) do |f| %>
				<%= f.label :name, "Wprowadź nazwę (np. nazwa firmy)" %>
				<%= f.text_field :name %>
				<%= f.label :email, "Wprowadź adres email" %>
				<%= f.text_field :email, :readonly => true %>
				<%= f.label :password, "Wprowadź hasło" %>
				<%= f.password_field :password %>
				<%= f.label :password_confirmation, "Potwierdź hasło" %>
				<%= f.password_field :password_confirmation %><br />


				<%= gravatar_for @user %>
				<a href="http://gravatar.com/emails"><br />zmień logo</a><br /><br /><br />

			<div class="pagination pagination-centered">
				<%= f.submit "Zapisz zmiany", class: "btn btn-info" %>
			</div>
				<% end %>

		<!-- </div> -->
	</div>
</div>

</div>
</div>
</div>
</div>
