<% provide(:title, @user.name) %>

<hr>
<aside>
	<section>
		<h1>
			<%= gravatar_for @user %>
			<h1><%= @user.name %>!</h1>
			
			<% if @user.products.any? %>
				<h4>Twój sklep posiada obecnie artykułów: <%= @user.products.count %>.</h4>
			<% else %>
				<h4>Twój sklep posiada obecnie artykułów: 0.</h4>
			<% end %>
			
		</h1>
	</section>
</aside>
<hr>

<div class="container-fluid">
	<div class="row-fluid">


		<div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Kategoria</li>
              <!--               
              <li class="active"><a href="#">Wszystkie</a></li>
              <li><a href="#">Blat</a></li>
              <li><a href="#">Zawias</a></li>
              <li><a href="#">Front</a></li> 
          	  -->
              <% @categories.each do |category| %>
              	<li><a href="#"><%= category.name %></a></li>
              <% end %>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->


        <div class="span10">
        	<!-- <div class="hero-unit"> -->
	        <div class="well sidebar-nav">

	          	<% if @user.products.any? %>
	          	<!-- <legend>Lista artykułów</legend> -->
	          	<table class="table table-striped" class="table table-condensed">
	          		<thead>
	          			<tr>
	          				<th class="span1">Pozycja</th>
	          				<th class="span2">Nazwa artykułu</th>
	          				<th class="span2">Opis</th>
	          				<th class="span1">Aktualizacja</th>
	          				<th class="span1">Ilość</th>
	          				<th class="span1">Cena</th>
	          				<th class="span2"></th>
	          			</tr>
	          		</thead>

	          		<tbody>
	          			<% if params[:page].nil? %>
	          				<% @licznik = 0 %>
	          			<% else %>
	          				<% @licznik = (params[:page].to_i * 30) - 30 %>
	          			<% end %>

	          			<%= render @products %>

	          			<div class="pull-right">
	          				<%= will_paginate @products %>
	          			</div>
	          		</tbody>
	          	</table>
	          	<% end %>

	        </div>
	     </div>

  </div>
</div>
