<!-- <p id="notice"><%= notice %></p> -->


  <div class="row-fluid">
      <div class="span6 offset3">

      <h1>Dane zamówienia: <%= @event.name %></h1>
      <hr />

        <div class="well sidebar-nav">
          <div class="field center">


<legend>Sklep: <%= @event.product.user.name %></legend>

<div class="row">
	<div class="span5 offset1">
		<strong>Nazwa towaru / usługi<br/></strong>
		<!-- 
		< text_field_tag :product_name  to w html input value: @product.name, readonly: true  %><br/> 
		-->
		<%= @event.product.name %><br/><br/>
  		<strong>Cena<br/></strong>
		<!-- 
		< f.text_field :product_price, value: @product.productPrice.bruttoSalesPrice, readonly: true  
		%> 
		-->
		<%= @event.product.productPrice.bruttoSalesPrice %>


    <% if !@event.product.isEvent %>
      <strong><br/><br/>Ilość<br/></strong>
      <%= @event.amount %>
    <% end %>


    </div>
  	<div class="span5">
  		<strong>Opis</br></strong>
  		<!-- 
  		< f.text_area :product_description, :cols => 200, :rows => 3, value: @product.description, readonly: true %> 
  		-->
  		<%= @event.product.description %>
    </div>
</div>





<legend>Dane zamawiającego</legend>

  <div class="row">
    <div class="span5 offset1">
     <strong>Imię Nazwisko / Nazwa firmy</strong><br/>
    	<%= @event.customer %>
    </div>
    <div class="span5">
      <strong>Adres email</strong><br/>
    	<%= @event.email %>
    </div>
  </div>

<br/>

<div class="row">
    <div class="span5 offset1">
      <strong>Treść</strong><br/>
    	<%= @event.description %>
    </div>
    </div>


<% if @event.product.isEvent %>
<legend>Dane wykonawcy</legend>

<div class="row">
    <div class="span5 offset1">
		<strong>Pracownik</strong><br/> <%= @event.worker.name %>
</div>
</div>

<br/>

  <div class="row">
    <div class="span5 offset1">

     	  <strong>Data rozpoczęcia </strong><br/>
    </di>

  <div class="span5">
  	      <%= @event.start_at %>
  </div>
</div>

  <div class="row">
    <div class="span5 offset1">

     	  <strong>Data zakończenia</strong> <br/>
    </di>

  <div class="span5">
  	   <%= @event.end_at %>
  </div>
</div>

<% end %>



<div class="row-fluid">
	<div class="pull-right">
        <%= link_to 'Powrót', firmshop_path(name: @event.product.user_id), class:"btn" %>
	       <!-- <= link_to 'Powrót', events_path, class:"btn" %> -->
    </div>
</div>




          </div>
        </div>
      </div>
    </div>

