<script type="text/javascript">
  $('#document_quantities_attributes_new_quantities_netto_price').tooltip(options)
  $('#document_quantities_attributes_new_quantities_brutto_price').tooltip(options)
</script>


<div class="nested-fields">

    <div class="row-fluid">
    <div class="span2"><%= f.association :product, :label => 'Produkt' , :collection => @current_user.products, :prompt => 'Wybierz produkt', :input_html => {:maxlength =>10,:style=> 'width: 140px' } %></div>
    
    <div class="span2">
      <%= f.input :amount, :label => 'Ilość' , :input_html => {:maxlength =>10,:style=> 'width: 130px' } %>
      </div>
    <div class="span2">
      <%= f.input :netto_price, :label => 'Cena jedn. netto', :input_html => {:onchange => "onNettoChange(this)", title:"podaj cenę netto w PLN (separator . )", :maxlength =>10 ,:style=> 'width: 130px' }  %>
    </div>
    <div class="span2">
      <%= f.input :brutto_price, :label => 'Cena jedn. brutto', :input_html => {:onchange => "onBruttoChange(this)", title:"podaj cenę brutto w PLN (separator . )", :maxlength =>10,:style=> 'width: 130px' } %>
    </div>
    <!-- :readonly => true  -->
        <div class="span2">
      <%= f.input :discount, :label => 'Marża/Upust', :input_html => {:onchange => "onDiscountChange(this)", :maxlength =>10,:style=> 'width: 130px' } %>
      <!-- :collection=> (-100..100).to_a.map{|x| [x,"#{x}"]}, :label => false, -->
      </div>    
    

    <div class="span2"><br/><%= link_to_remove_association "Usun", f, confirm: 'Czy napewno usunąć?', class:"btn btn-info"  %></div>
    </div>


