<% provide(:title, 'Dokument magazynowy ' + @document.name) %>

  <div class="row-fluid">
        <div class="span6 offset3">

        <!-- < title "Dokument ##{@document.name} data #{@document.document_date}" %> -->
      <h1>Dokument '<%= @document.name %>' data <%= @document.document_date %></h1>
      <hr />

          <!-- <div class="well sidebar-nav"> -->
          <div class="field center">


<!-- na szybko &nbsp; -->
<table id="line_items">
  <tr>
    <th>Produkt</th>
    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ilość&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th class="price">&nbsp;&nbsp;&nbsp;Cena jednostkowa (brutto)&nbsp;&nbsp;&nbsp;</th>
    <th class="price">&nbsp;&nbsp;&nbsp;Cena sumaryczna (brutto)&nbsp;&nbsp;&nbsp;</th>
  </tr>
  <% for quantity in @quantities %>
    <tr >
      <!-- class="< cycle :odd, :even %>" -->
      <td><%=h quantity.product.name %></td>
      <td class="qty"><%= quantity.amount %></td>
      <td class="price"><%= number_to_currency(quantity.brutto_price) %></td>
      <td class="price"><%= number_to_currency(quantity.brutto_price * quantity.amount) %></td>
    </tr>
  <% end %>
  <tr>
    <td class="total price" colspan="4">
      Podsumowanie: <%= number_to_currency @document.brutto_value %>
    </td>
  </tr>
</table>
              <span class="pull-right">

<%= link_to 'Powrót', documents_path, class:"btn" %>
</span>

</div>
<!-- </div> -->
</div>
</div>






<!-- 

<%= @document.doctype_id %>
<%= @document.doctype %>

<p id="notice"><%= notice %></p>

<p>
  <b>Is income:</b>
  <%= @document.is_income %>
</p>

<p>
  <b>Is outcome:</b>
  <%= @document.is_outcome %>
</p>

<p>
  <b>Is correct:</b>
  <%= @document.is_correct %>
</p>

<p>
  <b>Status:</b>
  <%= @document.status %>
</p>

<p>
  <b>Name:</b>
  <%= @document.name %>
</p>

<p>
  <b>Title:</b>
  <%= @document.title %>
</p>

<p>
  <b>Document date:</b>
  <%= @document.document_date %>
</p>

<p>
  <b>Brutto value:</b>
  <%= @document.brutto_value %>
</p>

<p>
  <b>Netto value:</b>
  <%= @document.netto_value %>
</p>

<p>
  <b>Brutto netto:</b>
  <%= @document.brutto_netto %>
</p>

<p>
  <b>Description:</b>
  <%= @document.description %>
</p>

<p>
  <b>Receipt:</b>
  <%= @document.receipt %>
</p>

<p>
  <b>Receipt date:</b>
  <%= @document.receipt_date %>
</p>

<p>
  <b>Blocked:</b>
  <%= @document.blocked %>
</p>

<p>
  <b>Document correct:</b>
  <%= @document.document_correct %>
</p>

<p>
  <b>Last correct:</b>
  <%= @document.last_correct %>
</p>

<p>
  <b>User:</b>
  <%= @document.user %>
</p>

<p>
  <b>Firm:</b>
  <%= @document.firm %>
</p>

 -->
<!-- tymczasowo nie dopuszcamy edycji dokumentu, edycja tylko przez korekte -->
<!-- < link_to 'Edit', edit_document_path(@document) %> | -->

