<p id="notice"><%= notice %></p>

<%=form_tag('/documents/save', :multipart => true) %>
	<p>
		<%= file_field_tag 'excel_file' %>
	</p>
	<p>
		<%= hidden_field_tag 'name', @document_name %>
		<%= submit_tag "Wczytaj dane" %>
	</p>
</form>
 
