<% provide(:title, 'Ustawienia pracowników:' + current_user.name) %>
<br />

  <div class="row-fluid">
      <div class="span6 offset3">

      <h1>Ustawienia pracowników</h1>
      <hr />

        <div class="well sidebar-nav">
          <div class="field center">

              <%= render 'form' %> 
          </div>
        </div>
      </div>
    </div>

<!-- <div class="container-fluid"> -->
  <div class="row-fluid">
    <div class="span6 offset3">


      <table class="table table-striped">

        <thead>
          <tr>
            <th>Imię Nazwisko</th>
            <th>Telefon</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @workers.each do |worker| %>
          <tr>
            <td>
              <!-- < link_to worker.name, :controller => "workers", :action => "show", :id => worker %>  -->
              <%= worker.name %>
            </td> 
            <td>
            <%= worker.phone %>
            </td> 
            <td>
              <span class="pull-right">
                <%= link_to 'Edytuj', edit_worker_path(worker) %> | 
                <%= link_to 'Usługi', worker %> | 
                <%= link_to 'Usuń', worker, confirm: 'Czy napewno usunąć pracownika?', method: :delete %>
              </span>
            </td>
          </tr>
             <% end %>
          </tbody>

        </table>

<!-- </div> -->
</div>
</div>
