<% provide(:title, 'Ustawienia jednostek:' + @current_user.name) %>
<br />

  <div class="row-fluid">
      <div class="span6 offset3">

      <h1>Ustawienia jednostek</h1>
      <hr />

        <div class="well sidebar-nav">
          <div class="field center">

              <%= render 'form' %> 
          </div>
        </div>
      </div>
    </div>

<!-- <div class="container-fluid"> -->
  <div class="row-fluid">
    <div class="span6 offset3">


      <table class="table table-striped">

        <thead>
          <tr>
            <th>Nazwa</th>
            <th>Nazwa krótka</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @units.each do |unit| %>
          <tr>
            <td>
              <%= link_to unit.name, :controller => "units", :action => "show", :id => unit %> 
              <!-- <%= link_to unit %> -->
            </td> 
            <td>
            <%= unit.shortName %>
            </td> 
            <td>
              <span class="pull-right">
                <% if !unit.isDefault %>
                <%= link_to 'Edytuj', edit_unit_path(unit) %> | 
                <%= link_to 'Usuń', unit, confirm: 'Czy napewno usunąć jednostkę?', method: :delete %>
                <% end %>
              </span>
            </td>
          </tr>
             <% end %>
          </tbody>

        </table>

<!-- </div> -->
</div>
</div>
