<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @unit.name %>
</p>

<p>
  <b>Shortname:</b>
  <%= @unit.shortName %>
</p>

<p>
  <b>Isdefault:</b>
  <%= @unit.isDefault %>
</p>

<p>
  <b>User:</b>
  <%= @unit.user %>
</p>


<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
