<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Isdefault:</b>
  <%= @category.isDefault %>
</p>

<p>
  <b>User:</b>
  <%= @category.user %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<!-- oryginalnie < link_to 'Back', categories_path %> -->
<%= link_to 'Back', current_user %>
<!-- dopisac przycisk wywolujacy metode <link_to 'Back', redirect_back_or current_user  %> -->
