<% provide(:title, 'produkty') %>

    <br />

  <div class="row-fluid">
        <div class="span10 offset1">

        <legend>Artykuły</legend>
        <div class="well sidebar-nav">
          <div class="field center">

              <%= render 'form' %> 
          </div>
        </div>
      </div>
    </div>

<!-- <div class="container-fluid"> -->
  <div class="row-fluid">
        <div class="span10 offset1">


      <table class="table table-striped">

                    <thead>
                        <tr>
                            <th class="span1">Pozycja</th>
                            <th class="span2">Nazwa artykułu</th>
                            <th class="span2">Opis</th>
                            <th class="span1">Aktualizacja</th>
                            <th class="span1">Ilość</th>
                            <th class="span1">Bieżąca cena zakupu</th>
                            <% if signed_in? %>
                                <th class="span2">Edytuj</th>
                            <% else %>
                                <th class="span2"></th>
                            <% end %>
                        </tr>
                    </thead>

                        <tbody>
                        <% if params[:page].nil? %>
                            <% @licznik = 0 %>
                        <% else %>
                            <% @licznik = (params[:page].to_i * 30) - 30 %>
                        <% end %>

                        <%= render @products %>

                        <div class="pull-right">
                            <%= will_paginate @products %>
                        </div>
                    </tbody>

        </table>

</div>
</div>

















<!-- 







<h1>Listing products</h1>

<table>
  <tr>
    <th>Summaryquantitypurchase</th>
    <th>Summaryquantitysales</th>
    <th>Nameoryginal</th>
    <th>Name</th>
    <th>Quantity</th>
    <th>Reservedquantity</th>
    <th>Quantityminimum</th>
    <th>Quantitymaximum</th>
    <th>Warningnote</th>
    <th>Iswarningshow</th>
    <th>Description</th>
    <th>Picture</th>
    <th>Blocked</th>
    <th>User</th>
    <th>Category</th>
    <th>Productprice</th>
    <th>Defaultincrease</th>
    <th>Defaultdecrease</th>
    <th>Defaultvat</th>
    <th>Actualpriceonpurchase</th>
    <th>Manufacturer</th>
    <th>Color</th>
    <th>Intended</th>
    <th>Location</th>
    <th>Size</th>
    <th>Shape</th>
    <th>Descriptions</th>
    <th>Unit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.summaryQuantityPurchase %></td>
    <td><%= product.summaryQuantitySales %></td>
    <td><%= product.nameOryginal %></td>
    <td><%= product.name %></td>
    <td><%= product.quantity %></td>
    <td><%= product.reservedQuantity %></td>
    <td><%= product.quantityMinimum %></td>
    <td><%= product.quantityMaximum %></td>
    <td><%= product.warningNote %></td>
    <td><%= product.isWarningShow %></td>
    <td><%= product.description %></td>
    <td><%= product.picture %></td>
    <td><%= product.blocked %></td>
    <td><%= product.user %></td>
    <td><%= product.category %></td>
    <td><%= product.productPrice %></td>
    <td><%= product.defaultIncrease %></td>
    <td><%= product.defaultDecrease %></td>
    <td><%= product.defaultVat %></td>
    <td><%= product.actualPriceOnPurchase %></td>
    <td><%= product.manufacturer %></td>
    <td><%= product.color %></td>
    <td><%= product.intended %></td>
    <td><%= product.location %></td>
    <td><%= product.size %></td>
    <td><%= product.shape %></td>
    <td><%= product.unit %></td>
    <td>< link_to 'Show', product %></td>
    <td>< link_to 'Edit', edit_product_path(product) %></td>
    <td>< link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

< link_to 'New Product', new_product_path %>
 -->