<p id="notice"><%= notice %></p>

<p>
  <b>Summaryquantitypurchase:</b>
  <%= @product.summaryQuantityPurchase %>
</p>

<p>
  <b>Summaryquantitysales:</b>
  <%= @product.summaryQuantitySales %>
</p>

<p>
  <b>Nameoryginal:</b>
  <%= @product.nameOryginal %>
</p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Quantity:</b>
  <%= @product.quantity %>
</p>

<p>
  <b>Reservedquantity:</b>
  <%= @product.reservedQuantity %>
</p>

<p>
  <b>Quantityminimum:</b>
  <%= @product.quantityMinimum %>
</p>

<p>
  <b>Quantitymaximum:</b>
  <%= @product.quantityMaximum %>
</p>

<p>
  <b>Warningnote:</b>
  <%= @product.warningNote %>
</p>

<p>
  <b>Iswarningshow:</b>
  <%= @product.isWarningShow %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Picture:</b>
  <%= @product.picture %>
</p>

<p>
  <b>Blocked:</b>
  <%= @product.blocked %>
</p>

<p>
  <b>User:</b>
  <%= @product.user %>
</p>

<p>
  <b>Category:</b>
  <%= @product.category %>
</p>

<p>
  <b>Productprice:</b>
  <%= @product.productPrice %>
</p>

<p>
  <b>Defaultincrease:</b>
  <%= @product.defaultIncrease %>
</p>

<p>
  <b>Defaultdecrease:</b>
  <%= @product.defaultDecrease %>
</p>

<p>
  <b>Defaultvat:</b>
  <%= @product.defaultVat %>
</p>

<p>
  <b>Actualpriceonpurchase:</b>
  <%= @product.actualPriceOnPurchase %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @product.manufacturer %>
</p>

<p>
  <b>Color:</b>
  <%= @product.color %>
</p>

<p>
  <b>Intended:</b>
  <%= @product.intended %>
</p>

<p>
  <b>Location:</b>
  <%= @product.location %>
</p>

<p>
  <b>Size:</b>
  <%= @product.size %>
</p>

<p>
  <b>Shape:</b>
  <%= @product.shape %>
</p>

<p>
  <b>Descriptions:</b>
  <%= @product.descriptions %>
</p>

<p>
  <b>Unit:</b>
  <%= @product.unit %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
