<% provide(:title, 'Ustawienia adresów kontrahentów:' + @current_user.name) %>
<br />
    
  <div class="row-fluid">
    <div class="span6 offset3">

      <h1>Ustawienia adresów kontrahentów</h1>
      <hr />

<% if @locations.any? %>
      <table class="table table-striped">

        <thead>
          <tr>
            <th>Firma</th>
            <th>Adres</th>
            <th>WWW</th>
            <th>Email</th>
            <th>Telefon</th>
            <th></th>
          </tr>
        </thead>

        <tbody>

<% if !@locations.nil? %>
<% @locations.each do |location| %>
  <tr>
    <td>
        <% if !location.firm.nil? %>
        <%= location.firm.name %>
        <% end %>
    </td>
    <td><%= location.zip_code %></td>
    <td><%= location.city %></td>
    <td><%= location.address %></td>
    <td><%= location.phone %></td>
    <td>
              <span class="pull-right">
                <%= link_to 'Edytuj', edit_location_path(location) %> | 
                <%= link_to 'Usuń', location, confirm: 'Czy napewno usunąć adres?', method: :delete %>
              </span>
    </td>
  </tr>
<% end %>
<% end %>

          </tbody>

        </table>
                        <% else %>
                <div class="center">
                  <br />
                  Brak adresów firm.
                  <br />
                </div>
              <% end %>

</div>
</div>
