<!-- < provide(:current_user_name, "test") %> -->


<!DOCTYPE html>
<html>
<head>
  <title><%= caly_tytul(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<body>

<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">

			<!-- Be sure to leave the brand out there if you want it shown -->
			<!-- id: "logo", - not use -->
			<%= link_to "EMagazynier:", root_path, id: "logo", class: "brand" %>

			<!-- Everything you want hidden at 940px or less, place within here -->
			<div class="nav-collapse collapse">

			<% if signed_in? %>
			<!-- .nav, .navbar-search, .navbar-form, etc -->
            <ul class="nav">
              <li><%= link_to "Dokumenty",'#' %></li>
              <li><%= link_to "Artykuły", products_path %></li>
				<li id="fat-menu" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Słowniki<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><%= link_to "Kategorie", categories_path %></li>
						<li><%= link_to "Jednostki", units_path %></li>
						<li><%= link_to "Firmy", firms_path %></li>
					</ul>
				</li>



              <li class="navbar-form">
  				<input type="text" class="search-query" placeholder="podaj frazę...">
  				<!-- <button type="submit" class="btn">Szukaj</button> -->
  			  </li>
			</ul>
			<% end %>

			<ul class="nav pull-right">
				<% if !signed_in? %>
				<li><%= link_to "Jak to dziala", jak_path %></li>
				<li><%= link_to "Cennik", cennik_path %></li>
				<li><%= link_to "Pomoc", pomoc_path %></li>
				<li><%= link_to "Kontakt", kontakt_path %></li>
				<% end %>

				<!-- jesli uzytkownik zalogowany  -->
				<% if signed_in? %>
					<li id="fat-menu" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<%= current_user.name %><b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><%= link_to "Ustawienia", edit_user_path(current_user) %></li>
						<li><%= link_to "Sklep", current_user %></li>
						<li class="divider"></li>
                  		<li class="nav-header">Administrator</li>
                  			<!-- tylko administratorzy -->
                  			<li><%= link_to "Uzytkownicy", users_path %></li>
						<li class="divider"></li>
						<li>
							<%= link_to "Wylogowanie", wyloguj_path, method: "delete" %>
						</li>
					</ul>
					</li>
				<% else %>
					<li><%= link_to "Logowanie", zaloguj_path %></li>	
				<% end %>				
				
			</ul>

			</div><!--/.nav-collapse -->
	</div><!--/.fluid-container-->
	</div><!--/.inner-container-->
</header>


<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">

			<!-- #flash messages -->
			<% flash.each do |key, value| %>
				<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>

			<%= yield %>
		</div>
	</div><!--/.fluid-container-->

	<hr>

	<footer class="container-fluid pull-right">
		<%= link_to image_tag("rails.png", alt: "Rails", id: "rails_image"), 'http://rubyonrails.org/' %> &copy; Przemyslaw Klosinski 2013
	</footer>

	<!-- informacje do debugujace -->
	<%= debug(params) if Rails.env.development? %>

</div><!--/.fluid-container-->



</body>
</html>
